
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



nav {
position: fixed;
z-index: 10;
left: 0;
right: 0;
top: 0;
font-family: 'Montserrat', san-serif;
height: 100px;
background-color: #ff9800;
padding: 0 5%;
}


nav .logo {
float: left;
width: 9%;
height: 100%;
display: flex;
align-items: center;
font-size: 24px;
color: #fff;
}

nav .links {
float: right;
padding: 0;
margin: 0;
width: 40%;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

nav .links li {
list-style: none;
}

nav .links a {
display: block;
padding: 1em;
font-size: 16px;
font-weight: bold;
color: #fff;
text-decoration: none;
}

#nav-toggle {
position: absolute;
visibility: hidden;
}

nav .icon-burger {
display: none;
position: absolute;
right: 5%;
top: 50%;
transform: translateY(-50%);
}

nav .icon-burger .line {
width: 30px;
height: 5px;
background-color: #fff;
margin: 5px;
border-radius: 3px;
transition: all .3s ease-in-out;
}



.b-box img {
    width: 100%;
}


img {
    width: 100%;
}

#wrapper {
    min-width: 1200px;
    margin: 0 auto;
   
}

.container {
    width: 1024px;
    margin: 0 auto;
}



#banner {
background: url(../img/banner_bg.jpg) no-repeat;
background-position: center center;
background-size: cover;
}

.banner-flex {
display: flex;
padding: 60px 0;
align-items: center;
}

.b-box {
flex: 1;
}

.b-box h1, .w-box h2, .what_title h2, .serv-box h2, .cont-box h2 {
font-size: 42px;
font-family: poetsan;
color: #353434;
padding: 20px 0;
}


@font-face{
font-family: poetsan;
src: url(../font/poetsan.ttf)
}


#welcome{
padding: 60px 0;
}

.welcome-flex {
display: flex;
align-items: center;
}

.w-box {
flex: 1;
}

.w-box img {
    width: 450px;
}

.w-box p, .what_title p, .serv-box p  {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.read {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
padding: 20px 0 20px;
font-weight: bold;
}


#whatwedo {
padding: 60px 0;
}

.what-flex {
display: flex;
justify-content: center;
flex-wrap: wrap;
text-align: center;
}

.what_box {
width: 300px;
border: 1px solid #e2e2e2;
}

.what_title {
width: 540px;
margin: 0 auto;
text-align: center;
padding-bottom: 60px;
}

p.w-p-style {
    text-align: center;
    padding: 20px 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #7b7b7b;
}

.what_box img {
    width: 120px;
}

.service-flex {
    display: flex;
    align-items: center;
}

.serv-box:last-child {
    text-align: center;
}

.serv-box {
flex: 1;
}

.serv-box:last-child img {
width: 380px;
}

.separator {
    width: 214px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    transform: translate(10px, 37px);
}

section#service {
    background: url(../img/catering_bg.png) no-repeat;
    background-size: cover;
    background-position: center top;
}

#service {
padding: 60px 0;
}


section#contact {
    padding: 60px 0;
}


.cont-flex {
    display: flex;
    align-items: center;
}


.cont-box {
    flex: 1;
}

.cont-box:first-child img {
    width: 350px;
}

.cont-box:first-child {
text-align: center;
}

.form-row {
    display: flex;
}

.form-row input {
    flex: 1;
    padding: 10px;
    margin: 5px 5px 5px 0;
}

textarea {
    width: 98%;
    margin-top: 5px;
}

input[type="submit"] {
    padding: 10px 37px;
    margin-top: 10px;
}

footer p {
    text-align: center;
    padding: 30px 0;
}



/* RESPONSIVE */
@media screen and (max-width: 320px){
.form-row input {
    flex: 1;
    padding: 10px;
    margin: 5px 0;
    }

.cont-box:first-child img {
    width: 100%;
}

.serv-box:last-child img {
    width: 100%;
}

.w-box img {
    width: 100%;
}

.b-box img {
    width: 100%;
}

.w-box img {
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: column;
}

}


@media screen and (max-width: 375px){
.form-row input {
    flex: 1;
    padding: 9px;
    margin: 5px 0;
    }

.cont-box:first-child img {
    width: 100%;
}

.serv-box:last-child img {
    width: 100%;
}

.w-box img {
    width: 100%;
}

.b-box img {
    width: 100%;
}

.w-box img {
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: column;
}
.b-box h1, .w-box h2, .what_title h2, .serv-box h2, .cont-box h2 {
    font-size: 39px;
    font-family: poetsan;
    color: #353434;
    padding: 20px 0;
}
}

@media screen and (max-width: 414px){
.w-box img {
    width: 100%;
}
.form-row {
    display: flex;
    flex-direction: column;
}
.container {
overflow: hidden;
}
.form-row input {
    flex: 1;
    padding: 10px;
    margin: 5px 0;
}
}

@media screen and (max-width: 767px){
nav .logo {
float: none;
width: 22%;
justify-content: center;
}

nav .links {
float: none;
position: fixed;
z-index: 9;
left: 0;
right: 0;
bottom: 100%;
overflow: hidden;
height: auto;
top: 100px;
background-color: rgba(0,0,0, .8);
flex-direction: column;
width: auto;
transition: all .5s ease-in-out;
justify-content: space-evenly;
max-height: 250px;
// 
}
nav .links a {
font-size: 20px;
}

nav .icon-burger {
display: block;
}

nav :checked ~ .links {
bottom: 0;
}

nav :checked ~ .icon-burger .line:nth-child(1){
transform: translateY(10px) rotate(225deg);
}

nav :checked ~ .icon-burger .line:nth-child(3){
transform: translateY(-10px) rotate(-225deg);
}

nav :checked ~ .icon-burger .line:nth-child(2){
opacity: 0;
}

.container {
width: 100%;
}

#wrapper {
min-width: 100%;
}

.cont-flex {
flex-direction: column;
align-items: center;
padding: 0 15px;
}

.service-flex {
 flex-direction: column;
}

.welcome-flex {
 flex-direction: column;
}
.cont-box {
    width: 100%;
}
.serv-box {
    padding: 0 20px;
    flex: 1;
}
.what_title {
    width: 100%;
    }
    .welcome-flex {
    padding: 0 20px;
}
.banner-flex {
    flex-direction: column;
    }
    .b-box h1 {
    position: relative;
    top: 73px;
    text-align: center;
    padding-bottom: 60px;
}
nav .links a:hover {
    color: orange;
}
.what_title p {
    padding: 0 20px;
}

}



@media (min-width: 768px) {
#wrapper {
min-width: 100%;
}
nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', san-serif;
    height: 100px;
    background: transparent !important; /* if need mo ng background */
    padding: 0 5%;
    }
    .serv-box:last-child img {
    width: 310px;
    }
    .container {
    width: 740px;
}
.serv-box {
    padding: 0 20px;
}
.cont-box:first-child img {
    width: 270px;
}
.cont-box {
    padding: 0 20px;
}
.w-box:first-child img {
    width: 330px;
}
.w-box {
    padding: 0 20px;
}
.b-box h1, .w-box h2, .what_title h2, .serv-box h2, .cont-box h2 {
    font-size: 28px;
    font-family: poetsan;
    color: #353434;
    padding: 20px 0;
}
}


@media (min-width: 992px) {
#wrapper {
min-width: 100%;
}
.container {width: 970px;}
}


@media (min-width: 1200px) {
.container {
width: 1024px;
}
}

 